::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: rgb(249 250 251);
}

::-webkit-scrollbar-thumb {
    background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156 163 175);
}

.react-resizable-handle.react-resizable-handle-se {
    opacity: 0;
}