.btn_add_workspace{
    border-radius: 2px;
}

.infoBox {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}


.listItem {
    width: 200px;
}

.active  {
    @apply bg-gray-100
}