@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
    --border-color: #f4f5f6;
    font-family: "Poppins-Regular";
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: rgb(249 250 251);
}

::-webkit-scrollbar-thumb {
    background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156 163 175);
}

.react-resizable-handle.react-resizable-handle-se {
    opacity: 0;
}

.react-resizable-handle.react-resizable-handle-se:hover {
    opacity: 0.7;
}

input[type=file]::file-selector-button {
    padding: .2em .4em;
    border-radius: .2em;
    background-color: rgb(248 113 113);
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: rgb(254 202 202);
  }