.page-container {
    position: relative;
}

.page-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #f3f4f6;
    z-index: 2;
    width: 100%;
}
